<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <taglib prefix="sec" uri="http://www.springframework.org/security/tags"></taglib>

    <th:block th:fragment="bootstrap-styles">
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    </th:block>
    <title></title>
</head>
<body>
<div>
    <h1> Create New course </h1>
    <form th:action="@{/courses/create}" th:object="${courseDTO}" method="post">
        <div>
            <label for="courseName">Course Name:</label>
            <input type="text" id="courseName" name="courseName" required>
            <p style="color: red"  th:if="${#fields.hasErrors('courseName')}" th:errorclass="error" th:errors="*{courseName} "></p>
        </div>
        <div>
            <label for="courseDescription">Description:</label>
            <textarea id="courseDescription" name="courseDescription"></textarea>
            <p style="color: red"  th:if="${#fields.hasErrors('courseDescription')}" th:errorclass="error" th:errors="*{courseDescription} "></p>
        </div>
        <div>
            <button type="submit">Create Course</button>
        </div>
    </form>
</div>

<div>
    <form th:action="@{/course/create}" th:object="${course}" method="post">

    </form>
</div>

</body>
</html>