<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <taglib prefix="sec" uri="http://www.springframework.org/security/tags"></taglib>

    <th:block th:fragment="bootstrap-styles">
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    </th:block>
    <title></title>
</head>
<body>
<h1>Remove Student </h1>
<form th:action="@{/courses/remove/student}" th:object="${studentCourseDTO}" method="post">
    <label for="studentId">Student:</label>
    <select id="studentId" name="studentId" th:field="*{studentId}">
        <option value="">Select a student</option>
        <option th:each="student : ${students}" th:value="${student.userId}" th:text="${student.userName}"></option>
    </select>
    <p style="color: red" th:if="${#fields.hasErrors('studentId')}" th:errors="*{studentId}"></p>
    <br>
    <label for="courseId">Course:</label>
    <select id="courseId" name="courseId" th:field="*{courseId}">
        <option value="">Select a course</option>
        <option th:each="course : ${courses}" th:value="${course.courseId}" th:text="${course.courseName}"></option>
    </select>
    <p style="color: red" th:if="${#fields.hasErrors('courseId')}" th:errors="*{courseId}"></p>
    <br>
    <button type="submit">Remove Student</button>
</form>
</body>
</html>
