<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <taglib prefix="sec" uri="http://www.springframework.org/security/tags"></taglib>

    <th:block th:fragment="bootstrap-styles">
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    </th:block>
    <title></title>
</head>
<body>
<nav th:replace="fragments/general.html::nav(active = 'groups')"></nav>
<main class="container">
    <h1>Delete Group By ID </h1>
    <form action="#" th:action="@{/groups/{groupId}/remove(groupId=${group.groupId})}" method="post">
        <div class="form-group">
            <label for="groupId">Group ID to Delete:</label>
            <input type="text" class="form-control" id="groupId" name="groupId" th:value="${group.groupId}" readonly>
        </div>
        <div class="form-group">
            <label for="groupName">Group Name:</label>
            <input type="text" class="form-control" id="groupName" name="groupName" th:value="${group.groupName}"
                   readonly>
        </div>
        <button type="submit" class="btn btn-danger">Delete Group</button>
    </form>
</main>
</body>
</html>
