<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <taglib prefix="sec" uri="http://www.springframework.org/security/tags"></taglib>

    <th:block th:fragment="bootstrap-styles">
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    </th:block>
    <title></title>
</head>
<body>
<div>
    <h1> Create New Group </h1>
    <form th:action="@{/groups/create}" th:object="${groupDTO}" method="post">
        <div>
            <label for="groupName">Group Name:</label>
            <input type="text" id="groupName" name="groupName" required>
            <p style="color: red"  th:if="${#fields.hasErrors('groupName')}" th:errorclass="error" th:errors="*{groupName} "></p>
        </div>
        <div>
            <button type="submit">Add Group</button>
        </div>
    </form>

</div>


</body>
</html>