<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <taglib prefix="sec" uri="http://www.springframework.org/security/tags"></taglib>

    <th:block th:fragment="bootstrap-styles">
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    </th:block>
    <title></title>
</head>
<body>
<h1>Schedule Details</h1>
<p th:text="'Schedule ID: ' + ${schedule.scheduleId}"></p>
<p th:text="'Schedule Date: ' + ${schedule.scheduleDate}"></p>
<p th:text="'Lesson num: ' + ${schedule.lessonNum}"></p>
<p th:text="'Tutor: ' + ${schedule.tutor}"></p>
<p th:text="'Group: ' + ${schedule.group}"></p>
<p th:text="'Audience: ' + ${schedule.audience}"></p>

</body>
</html>