<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <taglib prefix="sec" uri="http://www.springframework.org/security/tags"></taglib>

    <th:block th:fragment="bootstrap-styles">
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    </th:block>
    <title></title>
</head>
<body>
<h1>Remove Tutor From Schedule</h1>
<form th:action="@{/schedules/remove/tutor}" th:object="${tutorScheduleDTO}" method="post">

    <label for="tutorId">Tutor:</label>
    <select id="tutorId" name="tutorId" th:field="*{tutorId}">
        <option value="">Select a tutor</option>
        <option th:each="tutor : ${tutors}" th:value="${tutor.userId}" th:text="${tutor.userName}"></option>
    </select>
    <p style="color: red" th:if="${#fields.hasErrors('tutorId')}" th:errors="*{tutorId}"></p>
    <br>
    <label for="scheduleId">Schedule:</label>
    <select id="scheduleId" name="scheduleId" th:field="*{scheduleId}">
        <option value="">Select a schedule</option>
        <option th:each="schedule : ${schedules}" th:value="${schedule.scheduleId}" th:text="${schedule.scheduleDate}"></option>
    </select>
    <p style="color: red" th:if="${#fields.hasErrors('scheduleId')}" th:errors="*{scheduleId}"></p>
    <br>
    <button type="submit">Delete Tutor</button>

</form>

</body>
</html>