<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Students</title>
    <th:block th:replace="fragments/general.html::bootstrap-styles"/>
</head>
<body>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.userId}"></td>
            <td th:text="${student.userName}"></td>
            <td>
                <a th:href="@{/students/{studentId}/details(studentId=${student.userId})}" class="btn btn-info btn-sm">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>