<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tutor Details</title>
    <th:block th:replace="~{fragments/general.html::bootstrap-styles}"/>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
<div>
    <p th:text="'Tutor ID: ' + ${tutor.userId}"></p>
    <p th:text="'Tutor Name: ' + ${tutor.userName}"></p>
</div>
<div>
    <ul>
        <li>
            <a th:href="@{/courses/add/tutor}">
                <button type="button" class="btn btn-primary">Add to the Course</button>
            </a>
        </li>
        <li>
            <a th:href="@{/courses/remove/tutor}">
                <button type="button" class="btn btn-primary">Remove from the Course</button>
            </a>
        </li>
    </ul>
</div>

<div class="box" style="display: flex">
    <div class="containerCourses" style="background-color: cornsilk; width: 50%;">
        <h2>My Courses</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Course Description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${tutor.courses}">
                <td th:text="${course.courseId}"></td>
                <td th:text="${course.courseName}"></td>
                <td th:text="${course.courseDescription}"></td>
                <td>
                    <a th:href="@{/courses/{courseId}/details(courseId=${course.courseId})}" class="btn btn-info btn-sm">Course Details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
